@import "~antd/dist/antd.css";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.p-menu {
  margin: auto 40px;
  float: right;
}
.header {
  z-index: 999;
  position: sticky;
}
.container {
  min-height: 100vh;
  justify-content: center;
  margin-top: 5px;
}

.htitle {
  color: white !important;
  float: left;
  font-size: 1rem;
  cursor: pointer;
}

.htitle > i {
  font-size: 1.2rem;
}

.nav {
  margin-bottom: 10px;
}

.menu {
  float: right;
  line-height: 64px;
}

.divider {
  border-color: #8c7d7d;
}
.view__details__card{
  height: 25rem !important;
}
.card {
  height: 24rem;
  width: 19rem !important;
  box-shadow: 1px 1px 2px 2px whitesmoke;
  background: white;
  margin-left: 1rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inner__card {
  overflow: hidden;
  height: 90%;
  width: 16.5rem !important;
}
.skew {
  overflow: hidden;
  width: 100%;
  height: 62%;
}
.skew .image__container {
  transition-duration: 0.5s;
}
.skew > .image__container:hover {
  transform: scale(1.2);
}

.card__content {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.book__btn {
  width: fit-content;
  height: 35px;
  color: white !important;
  border-radius: 5px;
  margin-bottom: 2rem;
  border-style: none;
  background: rgb(21, 155, 238);
  transition: 0.3s;
}
.not__found {
  background-color: white;
}
.camp__not__found {
  background-color: white;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.not__found__text{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.camp__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.book__btn:hover {
  background: rgb(18, 134, 206);
}
.card__content > h5 {
  color: rgb(18, 134, 206);
}
img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.center {
  text-align: center;
}
.block-text > * {
  display: block;
}

.btn {
  margin: 6px;
}
.p-menu {
  margin: auto 40px;
  float: right;
}

.custom-form {
  height: 90vh;
}
.form {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 1.5rem;
}
.price {
  color: #e9102d;
}
.reserved__campsites_not_exists{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.htitle > i {
  margin-left: 0.5rem;
  transform: scale(1.5);
}
.profile__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile-icon {
  margin-right: 0.1rem;
}
.profile__center {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: white;
  height: 70vh;
  position: relative;
}
.role {
  color: rgb(21, 155, 238);
  position: absolute;
  left: 6.8rem;
  top: 0;
}
.ticket__form {
  height: 100%;
  display: flex;
  flex-direction: row;
  background: white;
  padding: 0 0 0 1rem;
}
.user__list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner__ticket__form {
  box-shadow: -1px -1px 5px 5px rgb(219, 216, 216);
  width: 100%;
  height: 100%;
  background: white !important;
  box-shadow: -1px -1px 3px 3px whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 1rem;
}
.show__avai__btn {
  margin-top: 0.5rem;
  width: 30%;
  height: 35px;
  background: rgb(21, 155, 238);
  color: white;
  border-style: none;
  transition: 0.3s;
}
.show__avai__btn:hover {
  background: rgb(18, 134, 206);
}
.camp__details__container {
  height: fit-content;
  margin-bottom: 6rem;
  margin-top: 1rem;
  width: 100%;
  padding: 0 8rem;
}

.camp__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 1rem;
}
.main__camp__container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.camp__description {
  word-wrap: break-word;
  color: rgb(76, 155, 204);
  font-size: 1.1rem;
}
#left {
  height: 25rem;
  flex: 45%;
}
#right {
  margin-top: -0.2rem;
  margin-left: 1rem;
  flex: 100%;
}
.image__list {
  height: 24.9rem;
  box-shadow: -1px -1px 5px 5px rgb(219, 216, 216);
  display: flex;
  align-items: center;
  justify-content: center;
}
.streched__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.transition {
  opacity: 0.5;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.slide {
  opacity: 0;
  -webkit-transition-duration: 1s ease;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  /* transform: scale(1.08); */
}

.carousel-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid gray;
}

.carousel-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.icon-left {
  position: absolute;
}
.fa-user-edit, .fa-user-plus{
  margin-right: 3px;
}
.fa-sign-in-alt{
  margin-left: 3px;
}
.icon-right {
  position: absolute;
  right: 0;
}

.carousel-content i {
  padding: 0 1rem;
  font-size: 3rem;
  z-index: 1;
  color: whitesmoke;
}
.image__cost{
  display: flex;
  flex-direction: row;
}
.price__details{
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  color: rgb(18, 134, 206)
}
.total__price{
  color: rgb(18, 134, 206)
}
.successful__page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 0;
}
.security{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.successful__page > i {
  color: rgb(18, 134, 206);
  font-size: 2rem;
}
.successful__page h5 {
  color: rgb(18, 134, 206)
}
.successful__page span {
  margin-top: .2rem;
}
.reservation__details{
  color:black !important;
  font-size: .8rem !important
}
.reservation__details li{
  margin-top: 1.6rem;
}
